@page
@model AccountsModel
@{
    ViewData["Title"] = "Accounts";
}

<h3 class="d-flex h-100 justify-content-between mb-4 text-dark">
    @ViewData["Title"]
    <a asp-page="CreateAccount" class="btn btn-info">Create Account</a>
</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Email)</th>
            <th class="text-nowrap w-1">@Html.DisplayNameFor(x => x.Accounts[0].IsAdmin)</th>
            <th class="text-nowrap w-1">@Html.DisplayNameFor(x => x.Accounts[0].Date)</th>
            <th class="no-sort text-nowrap w-1">Tools</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Models.Account account in Model.Accounts)
        {
            <tr>
                <td>@account.Email</td>
                <td class="text-center" data-sort="@account.IsAdmin"><i class="fas @(account.IsAdmin ? "fa-check text-success" : "fa-times text-danger")"></i></td>
                <td class="text-nowrap">@account.Date.ToString("yyyy-MM-dd")</td>
                <td>
                    <div class="d-flex">
                        <a asp-page="EditAccount" asp-route-id="@account.Id" class="btn btn-info btn-sm mr-1" data-placement="top" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
                        <form asp-route-id="@account.Id" method="post" onSubmit="return confirm('Are you sure you wish to delete this account?');">
                            <button class="btn btn-danger btn-sm" @(account.Id == HttpContext.Session.GetInt32("id") ? "disabled" : "") data-placement="top" data-toggle="tooltip" title="Delete" type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
